.container{
    display:  flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: black !important;
}

.chip{
    background-color: lightgray;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}
input{
    width: 250px;
    height: 30px;
}

