
.icon{
    width: 20px;
    overflow: hidden;
    height: 20px;
    position: absolute;
    background-color: rgb(16, 4, 241);
    border-radius: 50%;
    padding: 10px;
    right: 0;
    box-shadow: 4px 4px 10px black;
    margin: 8px;
}
.showicon{
    width: 20px;
    overflow: hidden;
    height: 20px;
    position: absolute;
    background-color: rgb(16, 4, 241);
    border-radius: 50%;
    padding: 10px;
    right: 40%;
    box-shadow: 4px 4px 10px black;
    margin: 8px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon:hover{
    transform: scale(1.2);
    background-color: rgb(3, 3, 93);
}

.showicon:hover{
    transform: scale(1.2);
    background-color: rgb(3, 3, 93);
}

.sideBar{
    position: absolute;
    right: 0;
    width: 40%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(59, 59, 222), rgb(8, 8, 117));
    padding-top: 130px;
}
.text{
    position: relative;
    left: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    padding: 20px;
}

.text:hover{
    color: white;
    text-shadow: 0 0 5px white;
    transform:  scale(1.05);
}