.nav{
    display: flex;
    justify-content: space-between;
}
.card-container{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    color: black !important;

}
.card{
    border: 2px solid lightslategray;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px lightslategray;
}
.img-container{
    height: 200px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
h4{
    font-size: 18px;
    margin: 5px;
}
p{
    margin: 10px;
    font-size: 18px;
}

button{
    background-color: rgb(4, 176, 4);
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    color: white;
    margin: 10px;
}
.cart{
    margin: 10px;
}